 * {
    margin: 0;
}
 article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
header {
    height: 150px;
 }
 nav {
    text-align: center;
    text-decoration: underline;
    height: 50px;   
 }
 nav {
     display: flex;
     justify-content: space-around;
 }
 section#sidebar {
    background-color: #FAEBD7; 
    float: right;
    width: 25%;
    height: 400px;
}
section#content {
    margin-right: 25%;
    height: 400px;
    background-color: #FFDAB9;
}
footer {
    height: 100px;
}  
h1 {
     color: purple;
     font-family: 'Shrikhand', serif;
     font-size: 58px;
     text-align: center;
}
.iconsocserv {
    width: 32px
}