 * {
    margin: 0;
}
 article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
header {
    height: 150px;
 }
 nav {
    text-align: center;
    text-decoration: underline;
    height: 50px;   
 }
 section#sidebar {
    background-color: #FAEBD7; 
    float: left;
    width: 25%;
    height: 400px;
}
section#content {
    margin-left: 25%;
    height: 400px;
    background-color: #FFDAB9;
}
footer {
    height: 100px;
}  
h1 {
     color: purple;
     font-family: 'Tangerine', serif;
     font-size: 48px;
     text-align: center;
}
.iconsocserv {
    width: 32px
}